{% extends "base.htm" %}

{% block title %} Recipes {% endblock %}

{% block content %}
    <br />
    <div class="container is-max-desktop">
    <span hx-get="https://www.dippingsauce.net/api/recipes/tags/html" hx-trigger="load" hx-target="#tag" hx-swap="innerHTML"></span>
        <article id="message" class="message is-danger" style="margin: 0rem 1rem">
            <div class="message-header">
            <p>Info</p>
            <button class="delete" aria-label="delete" onclick="hideMessage()"></button>
            </div>
            <div class="message-body">
                <p>
                    Some (a lot) of these recipes are out of date/need to be changed/fixed in some way.
                    I will be getting around to them as I come back and make them again. If you notice
                    something weird about a recipe, no you didn't!
                </p>
            </div>
        </article>
        <br />
        <nav class="level" style="margin: 0rem 1rem">
                <div class="level-item">
                    <div class="field has-addons">
                      <p class="control">
                        <input 
                            class="input"
                            id="search" 
                            name="query"
                            type="text" 
                            placeholder="Name or Ingredient"
                        />
                      </p>
                      <p class="control">
                        <button 
                            class="button"
                            hx-get="https://www.dippingsauce.net/api/recipes/search/html"
                            hx-target=".grid"
                            hx-include="#search"
                            hx-swap="innerHTML"
                        >Search</button>
                      </p>
                    </div>
                </div>
            <div class="level-item">
                <div class="select">
                    <form>
                        <select id="tag"
                                name="tag"
                                hx-get="https://www.dippingsauce.net/api/recipes/all/html"
                                hx-target=".grid"
                                hx-trigger="load, change"
                                hx-swap="innerHTML">
                                <option value="1">Chicken</option>
                        </select>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <br />
    <div class="container is-max-widescreen">
        <div class="fixed-grid has-1-cols-mobile has-2-cols-tablet has-3-cols-desktop">
            <div id="#recipe-list" class="grid" data-theme="dark" style="margin: 0rem 1rem">

            </div>
        </div>
    </div>
{% endblock %}