{% extends "base.htm" %} 

{% block title %} Reviews {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/reviews.css">
{% endblock %}
{% block content %} 
    <br />
    <div class="container is-max-desktop">
        <span hx-get="https://www.dippingsauce.net/api/reviews/cuisines/html" hx-trigger="load" hx-target="#cuisine" hx-swap="innerHTML"></span>
        <br />
        <div class="columns is-flex-direction-column-mobile is-1">
            <div class="column left-column is-half">
                <nav class="level" style="margin: 0rem 1rem">
                    <div class="level-item">
                        <input class="input is-rounded" type="text" placeholder="Search" disabled/>
                    </div>
                    <div class="level-item">
                        <div class="select">
                            <form>
                                <select id="cuisine"
                                        name="cuisine"
                                        hx-get="https://www.dippingsauce.net/api/reviews/all/html"
                                        hx-target=".grid"
                                        hx-trigger="load, change"
                                        hx-swap="innerHTML">
                                        <option value="all">Select Filter</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </nav>
                <br />
                <article class="message" style="margin: 0rem 1rem">
                    <div class="message-header">
                        <p>Legend</p>
                    </div>
                    <div class="message-body">
                        <nav class="level is-mobile">
                            <div class="level-item">
                                <span key={i} class="icon has-text-primary">
                                    <i class="fa-solid fa-check"></i>
                                </span> Visited
                            </div>
                            <div class="level-item">
                                <span key={i} class="icon has-text-danger">
                                    <i class="fa-solid fa-ban"></i>
                                </span> Not Visited
                            </div>
                        </nav>
                    </div>
                </article>
                <br />
                <div class="content" style="margin: 0rem 1rem">
                    This list has two purposes:
                    <ol>
                        <li>give recommendations for all the restaurants we visit in Chicago 
                            (other cities later, maybe!)</li>
                        <li>maintain a growing list of restaurants we WANT to go and visit, 
                            so we never have to struggle to think of where to go.</li>
                    </ol>
                Eventually, I hope to start writing <strong>full</strong> reviews 
                for these restaurants. For now, they will just have a short, concise blurb.
                </div>
            </div>
            <div class="column right-column" style="overflow-y: auto;">
                <div class="container is-max-widescreen">
                    <div class="fixed-grid has-1-cols">
                        <div id="#review-list" class="grid" data-theme="dark" style="margin: 0rem 1rem">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
