{% extends "base.htm" %} 

{% block title %} View Recipe {% endblock %}

{% block head %}
    <meta name="description" content="">
{% endblock%}

{% block content %}
    <span id="get-recipe" hx-trigger="load" hx-target="#recipe" hx-swap="beforeend"></span>
    <span id="get-recipe-meta" hx-trigger="load, click"></span>


    <div id="recipe" class="container is-max-desktop" data-theme="dark">
        <br />
        <a style="margin: 0rem 1rem" class="button is-primary" href="/recipes.htm">Back To Recipes</a>
        <span>
            <br /><br />
        </span>

    </div>

    <br />
    <script src="/static/js/view-recipe.js"></script>
{% endblock %}
