:root {
    --bulma-primary-h: 184deg;
    --bulma-primary-s: 26%;
    --bulma-primary-l: 51%;
    --bulma-link-h: 184deg;
    --bulma-link-s: 26%;
    --bulma-link-l: 51%;
    --bulma-info-h: 184deg;
    --bulma-info-s: 85%;
    --bulma-info-l: 40%;
    --bulma-danger-h: 335deg;
    --bulma-danger-s: 64%;
    --bulma-danger-l: 48%;
}

.card {
    --bulma-card-color: #F0EEED;
    --bulma-card-background-color: #332C39;
    --bulma-card-footer-border-top: 1px solid #609EA2;
}

@media (prefers-color-scheme: dark){
    :root {
        --bulma-body-color: #F0EEED;
    }
}

@media (prefers-color-scheme: light){

}

.main-content {
    display: "flex";
    min-height: "100%";
    flex-direction: "column";
}