html, body {
    height: 100%;
    margin: 0;
}

.columns {
    align-items: flex-start;
}

.column.right-column {
    overflow: auto;
}

@media (min-width: 769px) {
    .column.left-column {
        position: sticky;
        top: 6rem;
        overflow-y: auto;
        align-self: flex-start;
    }
}
